.toggle-switch {
  display: flex;
  background-color: gray;
  border-radius: 50px;
  align-items: center;
}

.on {
  background-color: green;
  justify-content: flex-end;
}

.toggle-switch-size-default {
  width: 100px;
  height: 30px;
}

.toggle-switch-button {
  width: 45%;
  height: 85%;
  background-color: white;
  border-radius: 50%;
}
